{% load static %}
<!doctype html>
<html lang="en">

<head>
  <style>
    .btncolor {
      background-color:brown; 
      color: white;
      padding: 10px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}
/* Split the screen in half */
.split {
  /* height: 10%; */
  float:left;
width:100%;
overflow-y: auto;
height: 300px;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: auto;
  padding-top: 20px;
}
.col{
 column-count: 2;
 column-gap: 0;
 column-width: 25%;
}
/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color:black;
}
td{
  height: 150px;
}

  </style>
  <title>EasyJobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="top">


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-8"><a href="/candidate/home">&nbsp;&nbsp;&nbsp;&nbsp;EasyJobs</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-1">
              <li><a href="/candidate/home" >Home</a></li>
              <li><a href="/candidate/can_about" >About Us</a></li>
              <li><a href="/candidate/can_jobs/{{user.username}}" >Jobs</a></li>
            <!-- <li><a href="services.html">Applications</a></li>-->
                <!--<li><a href="/candidate/can_contact">Contact Us</a></li>-->
              
              <!--about.html?about us-->
             <li><a href="#" class="active">Notifications</a></li>
             <li><a href="/candidate/can_viewprofile/{{user.username}}">Profile</a></li>
             <li><a href="/candidate/can_help">Help</a></li>
              
              <!--<li class="d-lg-none"><a href="contact.html">Contact Us</a></li>-->
            </ul>
          </nav>
          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
              <div class="ml-auto">
                <a href="/" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Sign out</a>
              </div>
              <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
            </div>
          
          
      </div>
      <br><br>
      <h5 style="color:cyan">Welcome!!! {{user.first_name}}  {{user.last_name}}</h5>
    </header>

    <!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image" style="background-image: url('/static/images/job22.jpg');"
      id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">A Powerful Career Website For You...</h1>
              <p>Find your dream jobs in our powerful career website...</p>
            </div>
            <form method="POST" class="search-jobs-form" action="/candidate/can_noti/{{user.username}}">
              {% csrf_token %}
             <div class="row mb-3">
               <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                 <input type="text" id="srch" name="srch" class="form-control form-control-lg" placeholder="Search by Company name...">
               </div>
               <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                 <input type="text" id="loc" name="loc" class="form-control form-control-lg" placeholder="Search by location...">
               </div>
              <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                 <select class="form-control">
                   <option>Anywhere</option>
                   <option>San Francisco</option>
                   <option>Palo Alto</option>
                   <option>New York</option>
                   <option>Manhattan</option>
                   <option>Ontario</option>
                   <option>Toronto</option>
                   <option>Kansas</option>
                   <option>Mountain View</option>
                 </select>
               </div>-->
               <!--<div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                 <select class="form-control">
                   <option>Part Time</option>
                   <option>Full Time</option
                   <option>Freelancer</option>
                 </select>
               </div>-->
             <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                 
                 <input type="submit" name="can_search" id="can_search"  value="      Search          " class="btn btn-primary btn-lg btn-block text-white btn-search"  >
              <!-- <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search" onclick="window.location.href='/candidate/can_search'"><span class="icon-search icon mr-2"></span>Search Company</button>-->
          </div>
             </div>
           </form>
          </div>
        </div>
      </div>


    </section>

    

    <section class="site-section">
      <div class="container">
        
          <div class="row mb-9 justify-content-center">
          <div class="col-md-9 text-center">
            
            <!-- {% for n in intrv %}
           
            <h5>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;
            <u><b>From :<b style="color: darkblue;"> {{n.com_name}}</b></b></u>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i><small> {{n.call_date}}</small></i>
            
            <br><br>
            <b>Post : </b>{{n.job_name}}<br>
            
            <b>Description :</b> <i>{{n.in_desc}}</i><br><br>
            
           <hr>
           
            {% endfor %} -->
           <!-- <center><table border="0" height="200" width="1000">
             {% for n in intrv %}
             {% for e in result %}
             
             <tr>
               <td>From : <b style="color: blue; font-size: 20px;">{{n.com_name}}</b></td><td><i>{{n.call_date}}</i></td>
             </tr>
             <tr>
               <td>Post : {{ e }}</td><td><button class="btncolor" onclick="c('are you?','{{user.username}}','{{n.id}}');">Remove</button></td>
              <script>
                 function c(msg,uname,id){
                      
                      var co = confirm("Are you sure you want to reject the application ?");
                      if(co)
                      {
                         window.location="/candidate/can_notireject/" + uname + "/" + id

                      }
                    }
              </script>
             </tr>
            <tr>
              <td>{{n.in_desc}}</td><td></td>
            </tr>
            <tr>
              <td><hr></td><td><hr></td>
            </tr>
            
            {% endfor %}
            {% endfor %}
            </table></center> -->
         </h5>
          </div>
        </div>
        <div>
        
        </div>
      <!-- <div class="col"> -->
        <div class="split left" style="float: left;">
                <table border="2"   style=" width: 60%; background-color: rgb(241, 229, 231);   float :left;border-top: hidden;border-left: hidden;border-right: hidden;" >
          <th style="height: 50px;" ><b style="color:brown ;">From : Admin
        
          </th>
          {% for e in rply %}
          <tr><td style="padding: 20px;"><p style="color: black;">{{e}}</p>
        
          </td></tr>
          {% endfor %}
          
        </table>
      
     
        <table border="2"  style=" width: 20%; background-color:rgb(241, 229, 231);  float :left;border-top: hidden;border-left: hidden;border-right: hidden;" >
          <th style="height: 50px;">&nbsp;</th><th></th>
        
          </th>
          {% for e in date %}
          <tr><td style="text-align: center;"><p style="color: black;"><i>{{e}} &nbsp;</i></p>
        
          </td>
       
        </tr>
          {% endfor %}
          
        </table>
        <table border="2"  style=" width: 20%; background-color:rgb(241, 229, 231);  float :left;border-top: hidden;border-left: hidden;border-right: hidden;" >
          <th style="height: 50px;">&nbsp;</th><th></th>
        
          </th>
          {% for e in rid %}
          <tr><td style="text-align: center;">
            <button class="btncolor" onclick="rc('are you?','{{user.username}}','{{e}}');">Remove</button><br><br><br>

        
          </td>
          <script>
            function rc(msg,uname,id){
                 
                 var co = confirm("Are you sure you want to delete  notification ?");
                 if(co)
                 {
                    window.location="/candidate/can_reject_reply/" + uname + "/" + id

                 }
               }
         </script>
       
        </tr>
          {% endfor %}
          
        </table>
      </div>
  
      <center>
        <b style="color: darkgreen;font-size: 20px;">&nbsp;</b><br>
        <b style="color: darkgreen;font-size: 20px;">&nbsp;</b><br>
        <b style="color: darkgreen;font-size: 20px;">Notification From Companies</b><br>
      </center>
        
        <table border="2" width="200" height="529" style="float :left;border-top: hidden;border-right: hidden;border-left: hidden;" >
          {% for e in com %}
          <tr><td ><b style="color:brown ;">From : </b>{{e}}
        
          </td></tr>
          {% endfor %}
        </table>
        <table border="2" width="200" height="529" style="float :left;border-top: hidden;border-left: hidden;border-right: hidden;">
          {% for e in result %}
          <tr><td><b style="color:brown ;">Post : </b>{{e}}
        
          </td> </tr>
          {% endfor %}
        </table>
       
        <table border="2" width="700" height="529" style="float :left;border-top: hidden;border-left: hidden;border-right: hidden;">
          {% for n in intrv %}
         <tr><td><b style="color:brown ;">Notification : </b>{{n.in_desc}}
 
        </td>
        <td style="border-left: hidden;"><i><small>{{n.call_date}}</small></i></td>
          <td style="border-left: hidden;"><center>&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
            <button class="btncolor" onclick="c('are you?','{{user.username}}','{{n.id}}');">Remove</button><br><br><br>
          </center>
          </td>
          
          <script>
            function c(msg,uname,id){
                 
                 var co = confirm("Are you sure you want to reject the application ?");
                 if(co)
                 {
                    window.location="/candidate/can_notireject/" + uname + "/" + id

                 }
               }
         </script>
        </tr>

         {% endfor %}
        </table>
        
      </div>
   
  </div>

  <!-- SCRIPTS -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/stickyfill.min.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>

  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>

  <!-- <script src="js/bootstrap-select.min.js"></script> -->

  <script src="{% static 'js/custom.js' %}"></script>


</body>

</html>