{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>EasyJobs</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #999999;">
		
		
	<div class="limiter">
		<div class="container-login100">
				
			<div class="login100-more" style="background-image: url('static/images/bg-01.jpg');"></div>
		
					
				
			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-80">
			
				<form  method="POST" name="com_signup" action="/com_signup/">
						{% csrf_token %}
					<span class="login100-form-title p-b-59">
							
						Company Sign Up
						<div>
							{% for message in messages %}
							<h6 style="color: red;">{{message}}</h6>
							{% endfor %}
						</div>
						
					</span>
					<input class="input100" type="text" name="com_name" placeholder="Name..."><br>
					<textarea rows ="4" cols ="40" name="com_desc" class="form-control" placeholder="Description"></textarea><br>
					<input class="input100" type="email" name="com_email" placeholder="Email address..."><br>
					<input class="input100" type="text" name="com_place" placeholder="Place..."><br>
					<input class="input100" type="text" name="com_pincode"  placeholder="Pincode..." maxlength="6" pattern="\d{6}" onkeypress="return isNumberKey(event)"><br>
					<input class="input100" type="text" name="com_dt" placeholder="District..."><br>
					<input class="input100" type="text" name="com_state" placeholder="State..."><br>
					<input class="input100" type="text" name="com_country" placeholder="Country..."><br>

					<input class="input100" type="text" name="com_mob" placeholder="Contact Number..." maxlength="10" pattern="\d{10}" onkeypress="return isNumberKey(event)"><br>
					<input class="input100" type="password" name="com_pswd1" placeholder="*************"><br>
					<input class="input100" type="password" name="com_pswd2" placeholder="*************"><br>
					<input type="submit" value="Signup" class="login100-form-btn">
					<SCRIPT language=Javascript>
            
						function isNumberKey(evt)
						{
						   var charCode = (evt.which) ? evt.which : evt.keyCode;
						   if (charCode != 46 && charCode > 31 
							 && (charCode < 48 || charCode > 57))
							  return false;
				  
						   return true;
						}
					  </script>
					<!-- <div class="wrap-input100 validate-input" data-validate="Name is required">
						
						<input class="input100" type="text" name="com_name" placeholder="Name...">
						<span class="focus-input100"></span>
					</div>
				 
						<div class="wrap-input100 validate-input" data-validate = "Description is required">
							<span class="label-input100">Description :</span>
                         <textarea rows ="4" cols ="40" name="com_desc" class="form-control"></textarea>

							<span class="focus-input100"></span>
						</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					
						<input class="input100" type="email" name="com_email" placeholder="Email address...">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Place is required">
						
						<input class="input100" type="text" name="com_place" placeholder="Place...">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Pincode is required">
					
						<input class="input100" type="text" name="com_pincode"  placeholder="Pincode...">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "District is required">
						
						<input class="input100" type="text" name="com_dt" placeholder="District...">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "State is required">
						
						<input class="input100" type="text" name="com_state" placeholder="State...">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Country is required">
						
						<input class="input100" type="text" name="com_country" placeholder="Country...">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Contact Number is required">
						
						<input class="input100" type="text" name="com_mob" placeholder="Contact Number...">
						<span class="focus-input100"></span>
					</div>
					

				

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="com_pswd1" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">Confirm Password</span>
						<input class="input100" type="password" name="com_pswd2" placeholder="*************">
						<span class="focus-input100"></span>
					</div>
						
					
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="window.location.href='/com_signup'">
								Sign Up
							</button>
						</div>

						
					</div> -->
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>