{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>EasyJobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="top">


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!--<div class="site-logo col-8"><a href="/candidate/home">EasyJobs</a></div>-->

          <nav class="mx-auto site-navigation">
             
              <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-1">
                <li><a href="#" class="nav-link active"><b style="color: darkblue;">Home</b></a></li>
                <li><a href="/company/com_about"><b style="color: darkblue;">About Us</b></a></li>
                <li><a href="/company/com_jobs/{{user.username}}"><b style="color: darkblue;"> Jobs</b></a></li>
              <!-- <li><a href="services.html">Applications</a></li>-->
               <!-- <li><a href="/company/com_contact"><b style="color: darkblue;">Contact Us</b></a></li>-->
              
                
                <!--about.html?about us-->
               <li><a href="/company/com_noti/{{user.username}}"><b style="color: darkblue;">Notifications</b></a></li>
                <li><a href="/company/com_viewprofile/{{user.username}}"><b style="color: darkblue;">Profile</b></a></li>
                <li><a href="/company/com_help">Help</a></li>
              
              <!--<li class="d-lg-none"><a href="contact.html">Contact Us</a></li>-->
            </ul>
          </nav>
          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
              <div class="ml-auto">
                <a href="/" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Sign out</a>
              </div>
              <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
            </div>
          
      </div>
      <br>
      <br>
    </header>

    <!-- HOME -->
                      
                    <form method="POST" name = "com_letter" action="/company/com_jobcallnoti/">
                        {% csrf_token %}
                        <br>
                        <br>
                       
                       
                     
                      
                    {% for n in messages %}
                    <center>
                    <input type="hidden" name="canuname" value="{{n.message}}">
                    
                    {% endfor %}
                    
                    
                    <!--Post Name:
                    <select name="job">
                        {% for n in job %}
                      <option value="{{n.job_name}}">{{n.job_name}}</option>
                      {% endfor %}
                    </select>-->
                   {% for e in jap %}
                    <input type="hidden" value="{{user.username}}" name="comuname"><br>
                    <input type="hidden" value="{{user.first_name}}" name="comname"><br>
                    <input type="hidden" value="{{e.job_id}}" name="jid"><br>
                    <input type="hidden" value="{{e.can_uname}}" name="canuname"><br>
                   {% endfor %}
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <b> Description :</b><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   
                   
                    
                    <textarea rows ="10" cols ="40" name="in_desc" required></textarea>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </center>
                   <input type="submit" onclick="alert('Notification send successfully')"; value="   Send Notification  " class="btn btn-primary btn-lg btn-block text-white btn-search">
                     
                   
                    

                    </form>
                    
                    </div>
                    </div>
                    </div>
                   
</body>

</html>